.formings-items{
    padding-left: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #ededed;
    .formings-items-img{
        width: 30%;
    }
    .formings-items-content-title{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
    }
    .formings-items-content-desc{
        span{
            font-size: 14px;
            font-weight: 600;  
        }
        div{
            color: #9c9a9a;
        }
    }
}